alias ll='ls -ltr'
alias ls='ls -G'
alias resource='source ${HOME}/.zshrc'
alias ll='ls -ltrG'
alias cls='clear'
alias l='ll'
alias vi='vim'
alias ..='cd ..'
alias ...='cd .. ; cd ..'
alias subl="/Applications/Sublime\ Text.app/Contents/SharedSupport/bin/subl"

alias g='grep -i'  #case insensitive grep
alias f='find . -iname'
alias ducks='du -cks * | sort -rn|head -11' # Lists the size of all the folders and files
alias top='top -o cpu'

alias backup-recv='sudo rsync --daemon --config=.rsyncd.conf'
alias backup-send='rsync -hua --stats --progress --exclude "#recycle" --exclude "@eaDir"'

# Start Visual studio code from command line
code () {
  VSCODE_CWD="$PWD" open -n -b "com.microsoft.VSCode" --args $* ;
}

source ~/.chromium-dev-aliases.bash
